docker run -p 8501:8501 -p 7099:7099 -p 7098:7098  -v /cloud.config/test/nginx.server/nginx.conf:/etc/nginx/nginx.conf --name nginx.server  -d 10.39.101.226:5000/nginx
