#! /bin/sh
## copy consul-template.service to /etc/init.d
## chmod +x ./consul-template.service && update-rc.d consul-template.service defaults && service consul-template.service start
##
consul-template -consul 10.39.101.226:8500  -template /cloud.config/deployment/nginx.server/nginx.tmpl:/cloud.config/deployment/nginx.server/nginx.conf:"docker restart nginx.server" &
