#! /bin/sh
### BEGIN INIT INFO
# Provides:          CS -Johnny
# Required-Start:    $remote_fs
# Required-Stop:     $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start or stop the Consul Template service.
### END INIT INFO

consul-template -consul 10.39.101.226:8500  -template /cloud.config/deployment/nginx.server/nginx.tmpl:/cloud.config/deployment/nginx.server/nginx.conf:"docker restart nginx.server" &
